<h2>Address</h2>
<div [formGroup]="form()">
    <div>
        <label [for]="'address_name-' + index">Address Name*:</label>
        <input [id]="'address_name-' + index" type="string" formControlName="name">
    </div>

    <div>
        <label [for]="'country-' + index">Select country</label>
        <select [id]="'country-' + index" formControlName="country">
            @for(country of countries(); track country.id; let index = $index) {
                <option [ngValue]="country">{{country.name}}</option>
            }
        </select>
    </div>

    <div>
        <label [for]="'city-' + index">Select city</label>
        <select [id]="'city-' + index">
            <!-- @for(city of getCities(addresses.controls[index].value.country?.id); track city) {
                <option [ngValue]="city">{{city}}</option>
            } -->
        </select>
        <button type="button" (click)="onAddCity()">Add city</button>

        @if (openModal) {
            <input type="text" #newCity/>
            <button type="button" (click)="openModal = false">Cancel</button>
            <button type="button" (click)="saveCity(newCity.value)">Save</button>
        }
    </div>

    <div>
        <label [for]="'street-' + index">Street</label>
        <input [id]="'street-' + index" type="string" formControlName="street">
    </div>
</div>

<button type="button" [disabled]="!canRemove" (click)="removeAddress()">Remove address</button>