.form-container {
  display: flex;
  margin-bottom: 32px;

  & > * {
    margin-right: 24px;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  .warning-button {
    margin-right: 12px;
  }
}